@model Usuario

<div class="split left">
    <div class="centered">
        <img src="https://alumnes.org/wp-content/uploads/2017/06/fa-user-circle-o-c0a2bd7a.png" alt="User icon">
        <h2 style="color: #0276ba"> @Model.NombreUsuario </h2>
        Continente: @Model.ContinenteUsuario <br />
        Desde: @Model.FechaIngresoUsuario <br />
        Minutos jugados: -- <br /><br />
    </div>
</div>

<div class="split right">
  <br /> <h1 style = "text-align: center; color: #ffda33"> <b> Editar usuario </b> </h1>    
  <br />
  <div class="centered">
    <table class = "center" style = "width: 560px; font-size: 20px">
        <tr style = "color: white">
            <td> 
                <form method="post" asp-action="EditarPerfil">
                    <h5> Nombre de usuario: </h5>
                    <input type="text" asp-for="NombreUsuario" name="NombreUsuario" /> <br /> <br />
                    <h5> Comntinente de origen: </h5>
                    <input type="text" asp-for="ContinenteUsuario" name="ContinenteUsuario" /> <br /> <br />


                    
                    <h5> Nueva contraseña: </h5>
                    <input type="password" id="newPassword" /> <br /> <br />
                    <h5> Confirmar nueva contraseña: </h5>
                    <input name="ClaveUsuario" type="password" id="newPassword2" onKeyUp="enableButton()" /> <br /> <br />

                    <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" /><br />

                    <input style="background-color: #00a1ff" class="btn btn-lg" id="button" type="submit" value="Guardar" /><br />
                </form>
                

            </td>
        </tr>
    </table>
    
  </div>
</div>

<script type="text/javascript">

    function enableButton()

    {

        var camp1 = document.getElementById('newPassword');
        var camp2 = document.getElementById('newPassword2');
        var boton = document.getElementById('button');

        if (camp1.value != camp2.value) {

            boton.disabled = true;
        }else {
            boton.disabled = false;
        }
    }



</script>