<h1 style="color: #0276ba; text-align: center"><b> INSTRUCCIONES </b></h1>

<table class="center">
    <tr>
        <th style="text-align: center; color: #ffda33"> <h3> Controles </h3> </th>
        <th style="text-align: center; color: #ffda33"> <h3> Reglas del juego </h3> </th>
        <th style="text-align: center; color: #ffda33"> <h3> Crear un usuario </h3> </th>
    </tr>
    <tr>
        <td style="border-right: 2px solid #ff9300; padding-right:10px" width="30%">
            <img src="https://i.ibb.co/VQh70xS/Arriba-Abajo.png" width="150px"> Cambiar de carril <br> <br>
            <img src="https://i.ibb.co/9YhKKLT/IzqDer.png" width="150px"> Cambiar velocidad <br> <br>
            <img src="https://i.ibb.co/Z88qb5c/teclaA.png" width="75px"> Ataque de electricidad <br> <br>
            <img src="https://i.ibb.co/yhTWRnt/teclaS.png" width="75px"> Camara lenta <br> <br>
        </td>
        <td style="border-right: 2px solid #ff9300; padding-left:10px; padding-right:10px" width="40%">
            <b> ¡Escapa de la policía! </b> Evita que las luces lleguen al otro lado de la pantalla. <br> <br>
            Esquiva los autos negros, si chocas con ellos perderás. <br> <br>
            Si se termina tu batería tendrás que ir a la velocidad mínima hasta que recargues al 20%, ¡ten cuidado! <br> <br>
            Puedes recargar la batería al chocar autos azules o ir por el carril en sentido contrario. <br> <br>
            Los autos azules recargan la batería al 100% si los chocas. <br> <br>
            Si la puntuación es un multiplo de 50 recuperas el 100% de la batería. <br> <br>
            ¡Utiliza los poderes a tu favor!
        </td>
        <td style="padding-left:10px" width="30%">
            Introduce un nombre de usuario. <br> <br>
            Introduce una contraseña. <br> <br>
            Escribe el continente al que perteneces. <br> <br>
            <b> Presiona "Crear" y ¡listo! </b>
        </td>
    </tr>

</table>
