

<h1 style = "color: #0276ba; text-align: center"><b> INSTRUCCIONES </b></h1>

<table class = "center" >
    <tr>
        <th style = "text-align: center"> <h3> Controles </h3> </th>
        <th style = "text-align: center"> <h3> Reglas del juego </h3> </th>
        <th style = "text-align: center"> <h3> Crear un usuario </h3> </th>
    </tr>
    <tr>
        <td style = "border-right: 2px solid #ff9300; padding-right:10px"> <b> Aquí va una imagen y una pequeña expliacción de los controles. </b>
            nulla condimentum habitasse tempor liber, molestie netus fusce volutpat. Imperdiet mi suspendisse odio dolor
            curabitur imperdiet justo, per tristique dui ornare. Leo eget at sed netus
            sagittis ph nulla, lectus nulla iaculis sagittis. Inceptos placerat tortor himenaeos orci
            consequat vehicula porttitor, ligula arcu cubilia nulla . Dictumst vitae blandit euismod magna
            potenti eget nulla , hac sed arcu tempor. Bibendum felis augue aptent sodales
            sem interdum nulla , justo turpis elementum blandit. Senectus justo curabitur adipiscing aliquam
            felis scelerisque habitasse, fermentum curabitur justo hac.         
        </td>
        <td style = "border-right: 2px solid #ff9300; padding-left:10px; padding-right:10px"> <b> Aquí va una descripción breve de las reglas. </b>
            nulla condimentum habitasse tempor liber, molestie netus fusce volutpat. Imperdiet mi suspendisse odio dolor
            curabitur imperdiet justo, per tristique dui ornare. Leo eget at sed netus
            sagittis ph nulla, lectus nulla iaculis sagittis. Inceptos placerat tortor himenaeos orci
            consequat vehicula porttitor, ligula arcu cubilia nulla . Dictumst vitae blandit euismod magna
            potenti eget nulla , hac sed arcu tempor. Bibendum felis augue aptent sodales
            sem interdum nulla , justo turpis elementum blandit. Senectus justo curabitur adipiscing aliquam
            felis scelerisque habitasse, fermentum curabitur justo hac.
        </td>
        <td style = "padding-left:10px"> <b> Aquí van las instrucciones para crear una cuenta. </b>
            nulla condimentum habitasse tempor liber, molestie netus fusce volutpat. Imperdiet mi suspendisse odio dolor
            curabitur imperdiet justo, per tristique dui ornare. Leo eget at sed netus
            sagittis ph nulla, lectus nulla iaculis sagittis. Inceptos placerat tortor himenaeos orci
            consequat vehicula porttitor, ligula arcu cubilia nulla . Dictumst vitae blandit euismod magna
            potenti eget nulla , hac sed arcu tempor. Bibendum felis augue aptent sodales
            sem interdum nulla , justo turpis elementum blandit. Senectus justo curabitur adipiscing aliquam
            felis scelerisque habitasse, fermentum curabitur justo hac. 
        </td>
    </tr>

</table>

