@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <iframe style="width: 90%" src="/game/index.html"> </iframe>
</div>



@section login {
    @if(ViewData["IdUsuario"] == null)
    {
        <h5> Para poder guardar tus partidas necesitas iniciar una sesión</h5>
    }
    else
    {
        
    }
}

