@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1> Aquí se verá el juego. </h1>
</div>

@section login {
    @if(ViewData["NombreUsuario"] == null)
    {
        <li> Login </li>
    }
    else
    {
        <li> Logout </li>
    }
}