@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1> Aquí se verá el juego. </h1>
</div>

@section login {
    @if(ViewData["IdUsuario"] == null)
    {
        <h5> Para poder guardar tus partidas necesitas estar loggeado</h5>
    }
    else
    {
        
    }
}