@model Usuario

<div class = "split left">
  <br /> <br /> <h1 style = "text-align: center; color: #005393"> <b> Ingresar </b> </h1> 
  <div class="centered">
    <form method = "post">
        <h5> Nombre de usuario: </h5> 
        <input asp-for = "NombreUsuario" /> <br /> <br />
        <h5> Contraseña: </h5> 
        <input asp-for = "ClaveUsuario"/> <br /> <br />
        <br />
        <button style = "background-color: #00a1ff" class = "btn btn-lg" type = "submit">
            Ingresar
        </button>
    </form>
  </div>
</div>

<div class="split right">
  <br /> <br /> <h1 style = "text-align: center; color: #ffda33"> <b> Nuevo usuario </b> </h1>    
  <br />
  <div class="centered">
    <table class = "center" style = "width: 560px; font-size: 20px">
        <tr style = "color: white">
            <td> 
                <form>
                    <h5> Nombre de usuario: </h5> 
                    <input asp-for = "NombreUsuario" /> <br /> <br />
                    <h5> Continente de origen </h5>
                    <input asp-for = "ContinenteUsuario" /> <br /> <br />
                    <h5> Contraseña: </h5> 
                    <input asp-for = "ClaveUsuario"/> <br /> <br />
                    <button style = "background-color: #00a1ff" class = "btn btn-lg" type = "submit">
                        Crear
                    </button>
                </form>
            </td>
        </tr>
    </table>
  </div>
</div>