@model List<PartidaN>

<h1 style = "color: #0276ba; text-align: center"><b> RÉCORDS </b></h1>

<div class = "centered">
    <table class = "center" style = "width: 560px">
        <tr style = "background-color: #ff9300">
            <th style = "text-align: center"> <h3> Usuario </h3> </th>
            <th style = "text-align: center"> <h3> Ranking </h3> </th>
            <th style = "text-align: center"> <h3> Puntos </h3> </th>
            <th style = "text-align: center"> <h3> Tiempo </h3> </th>
            <th style = "text-align: center"> <h3> Fecha </h3> </th>
        </tr>
       @foreach(var user in Model){
           <tr>
                <td> @user.NombreUsuario </td>
                <td> <label type ="number" step ="1">Number of tickets you would like to buy:</label></td>
                <td> @user.PuntajePartida </td>
                <td> @user.DuracionPartida </td>
                <td> @user.FechaPartida </td>
            </tr>
       }

    </table> 
</div>
