

<h1 style = "color: #0276ba; text-align: center"><b> RÉCORDS </b></h1>

<div class = "centered">
    <table class = "center" style = "width: 560px">
        <tr style = "background-color: #ff9300">
            <th style = "text-align: center"> <h3> Usuario </h3> </th>
            <th style = "text-align: center"> <h3> Ranking </h3> </th>
            <th style = "text-align: center"> <h3> Puntos </h3> </th>
            <th style = "text-align: center"> <h3> Tiempo </h3> </th>
            <th style = "text-align: center"> <h3> Fecha </h3> </th>
        </tr>
        <tr>
            <td> usuario </td>
            <td> 1 </td>
            <td> 1528 </td>
            <td> 15:33 </td>
            <td> 15-03-2022 </td>
        </tr>
        <tr>
            <td> usuario2 </td>
            <td> 2 </td>
            <td> 1433 </td>
            <td> 15:12 </td>
            <td> 15-03-2022 </td>
        </tr>
    </table> 
</div>